@if (!showForm){
<button mat-button color="primary" type="button" (click)="showForm = true">
  Přidat organizaci
</button>
}
@if (showForm){
<!-- p-6 shadow-lg w-full max-w-md -->
<section class="grid grid-cols-1 gap-4">
  <form [formGroup]="formular" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="fill" class="w-full">
        <input class="form-control block w-full p-2.5 border border-gray-300 rounded-lg focus:border-blue-500"
          placeholder="Jméno organizace" formControlName="name" id="name" />
      </mat-form-field>
    </div>
    <div class="flex justify-end space-x-2">
      <button mat-raised-button color="primary" type="submit" [disabled]="formular.invalid">
        Odeslat
      </button>

      <button mat-button color="accent" type="button" class="" (click)="closeForm()">
        Zrušit
      </button>
    </div>
  </form>
</section>
}
<p>Value: {{ formular.value.name }}</p>
@if(tenants$ | async; as tenants) { @for(tenant of tenants; track tenants$) {
<section class="border p-5 shadow mb-5 mx-5">
  <h2>{{tenant.id}} | {{tenant.name}}</h2>
</section>
} @empty { Žádná data :-( } }