<div class="flex flex-col min-h-screen">
  <div>
    <nav class="navbar">
      <div class="navbar-content">
        <a [routerLink]="['/']" class="flex items-center space-x-3 rtl:space-x-reverse">
          <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="assets/mach-logo-transparent-low-res.png" class="max-h-8" alt="Mach logo" />
          </a>
        </a>
        <div class="user-menu">
          <button type="button" class="user-menu-toggle"
            id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
            data-dropdown-placement="bottom">
            <span class="sr-only">Open user menu</span>
            <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18
              9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948
               8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div class="user-menu-dropdown hidden" id="user-dropdown">
            <div class="top-0">
              <div class="active-user">
                <div class="text-xl mb-3">{{activeUser?.name}}</div>
                <div class="text-sm mb-3">{{activeUser?.email}}</div>

                <button class="profile-button">
                  Profil
                </button>
              </div>
              @if(users.length > 0){
              <div class="other-user-list">
                <div class="toggle" (click)="toggleAccountsList()">
                  <span>Skrýt další účty</span>
                  @if(showAccountsList) {
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/>
                    </svg>

                  }@else {
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                    </svg>

                  }
                </div>
                @if(showAccountsList) {
                  <div  class="py-2">
                    @for (user of users; track user.name) {
                      <!-- Account items -->
                    <div class="flex items-center p-2 hover:bg-gray-700 border-b-2 border-t-2 border-[#11082d] cursor-pointer " (click)="switchUser(user)">
                      <div class="flex-grow">
                        <div>{{user.name}}</div>
                        <div class="text-xs text-gray-400">{{user.email}}</div>
                      </div>
                    </div>
                    }
                    <div (click)="manageAccounts()" class="flex items-center p-2 hover:bg-gray-700 rounded-sm cursor-pointer">
                      <div class="flex-grow">Spravovat účty</div>
                      <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="2" d="M7 19H5a1 1 0 0 1-1-1v-1a3 3 0 0 1 3-3h1m4-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm7.441 1.559a1.907 1.907 0 0 1 0 2.698l-6.069 6.069L10 19l.674-3.372 6.07-6.07a1.907 1.907 0 0 1 2.697 0Z"/>
                      </svg>
                    </div>
                  </div>
                }
              </div>
              }
              <div (click)="addAccount()" class="user-menu-button">
                <h1>Přidat další účet</h1>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12h4m-2 2v-4M4 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                </svg>
              </div>
              <div (click)="logout()" class="user-menu-button">
                <h1>Odhlásit se</h1>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 18V6h-5v12h5Zm0 0h2M4 18h2.5m3.5-5.5V12M6 6l7-2v16l-7-2V6Z"/>
                </svg>
              </div>
            </div>
          </div>

          <!-- end -->
          <button data-collapse-toggle="navbar-user" type="button"
            class="routes-dropdown-toggle"
            aria-controls="navbar-user" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
            </svg>
          </button>
        </div>
        <div class="hidden" id="navbar-user">
          <ul>
            <li>
              <a [routerLink]="['/customers']">Zákazníci</a>
            </li>
            <li>
              <a [routerLink]="['/locations']">Pobočky</a>
            </li>
            <li>
              <a [routerLink]="['/machines']">Stroje</a>
            </li>
            <li>
              <a [routerLink]="['/records']">Záznamy</a>
            </li>
            @if (authService.hasRole('Admin')) {
            <li>
              <a [routerLink]="['/users']">Uživatelé</a>
            </li>
            }
          </ul>
        </div>
      </div>
    </nav>

  </div>
  <div class="flex-grow content">
    <router-outlet />
  </div>
  <footer class=" bottom-0 left-0 w-full bg-[#1F0F53] p-4 text-center text-[#FFDB99]">
    <p>&copy; 2024 Maintenance Chronicle. Všechna práva vyhrazena.</p>
  </footer>
</div>
