<div class="container ">
  <div class="m-auto flex align-middle justify-center text-black p-4">
      <h1>Potvrzení e-mailu</h1>
  </div>
  <div class="content">
      <p>Děkujeme za registraci do MaintenanceChronicle! Vaše email adresa byla tímto potvrzena, prosím pokračujte na <a routerLink="/login" class=" ">přihlášeni</a></p>
  </div>
  <div class="footer">
      <p>&copy; 2025 MaintenanceChronicle. Všechna práva vyhrazena.</p>
      <p>Potřebujete pomoc? <a href="">Kontaktujte podporu</a></p>
  </div>
</div>
