<section class="flex flex-col items-center p-4 h-full">
  <div class="w-2/3 ">
    <mach:alert class="w-full m-2" />
    <mach:pop-up />
    <div class="flex justify-between items-baseline">
      <h1 class="p-2 text-2xl font-bold text-center text-black">Stroje</h1>
      <div class="flex items-baseline">
        <h2>Pro vytvoření nového stroje běžte na detail pobočky</h2>
        <button (click)="drawerOpen = true" class="btn btn-primary">Filtrovat</button>
        @if(!isFilterClear()){
        <button (click)="clearFilter()" class="btn btn-primary">Zrušit filtry</button>
        }
      </div>
    </div>
  </div>
  @for(machine of filteredMachines;track machine.id){
  <div
    class="list-item">
    <div class="flex justify-stretch  p-2 ">
      <div class="flex flex-col w-1/4  self-start">
        <span class="text-lg font-bold">{{machine.model}}</span>
      </div>
      <div class="flex justify-normal pt-2 w-1/2">
        <div class="flex flex-col justify-start w-1/6">
          <span class="font-bold  ">Pobočka:</span>
        </div>
        <div class="flex justify-start">
          <p>{{machine.locationName}}</p>
        </div>
      </div>
      <div class="flex justify-end items-center h-1/4 w-1/4">
        <a [routerLink]="['/machines', machine.id]" class="btn btn-primary">Detail</a>
        <button (click)="openPopUp(machine)" class="btn btn-danger">Smazat</button>
      </div>
    </div>
  </div>
  }
  <mach:offCanvas
  [title]="'Filtrovat'"
  [confirmLabel]="'Filtrovat'"
  [(isOpen)]="drawerOpen"
  (saved)="filterMachines()"
  >
    <mach:forminput [(value)]="filter.searchText" type="text" label="Text"/>
    <mach:multiSelect [options]="customersInFilter"
      [(ngModel)]="filter.customer"
      [ngModelOptions]="{standalone: true}"
      [required]="false"
      label="Zákazník"
      [closeOnSelect]="true"
      [maxSelections]="1"
      placeholder="Vybrat zákazníka..." />
      <mach:multiSelect [options]="locationsInFilter"
      [(ngModel)]="filter.location"
      [ngModelOptions]="{standalone: true}"
      [required]="false"
      label="Pobočka"
      [closeOnSelect]="true"
      [maxSelections]="1"
      placeholder="Vybrat pobočku..." />
  </mach:offCanvas>
</section>
