/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind utilities;
@tailwind base;

forminput {
  border-width: 0 !important;
}
form forminput {
  border: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-default {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", serif;
  font-weight: 585;
  font-style: normal;
}

.min-h-80screen {
  min-height: 80vh;
}

.btn {
  @apply bg-gradient-to-bl;
  @apply no-underline;
  @apply hover:bg-gradient-to-l;
  @apply focus:ring-4;
  @apply focus:outline-none;
  @apply font-medium;
  @apply rounded-lg;
  @apply text-sm;
  @apply px-5;
  @apply py-2.5;
  @apply text-center;
  @apply me-2;
  @apply mb-2;
}

.btn-primary {
  @apply from-[#1F0F53];
  @apply to-[#093d82];
  @apply text-white;
  @apply focus:ring-purple-200;
  @apply dark:focus:ring-purple-800;
}

.btn-danger{
  @apply from-[#ff2424];
  @apply to-[#9a0101];
  @apply text-white;
  @apply focus:ring-purple-200;
  @apply dark:focus:ring-purple-800;
}

.btn-secondary {
  @apply from-[#c0c0c0];
  @apply to-[#a0a0a0];
  @apply text-[#1F0F53];
  @apply focus:ring-purple-200;
  @apply dark:focus:ring-purple-800;
}

.h-80p {
  height: 80%;
}
.h-40p {
  height: 40%;
}

.w-25p {
  width: 25%;
}

.w-50p {
  width: 50%;
}

a {
  @apply font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline ms-2;
}

.router-button {
  @apply text-[#1F0F53] no-underline bg-[#FFDB99] font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none;
}

.footer {
  background: #615873;
  color: #ffdb99;
  text-align: center;
  padding: 20px;
  opacity: 50%;
}

.footer a {
  color: #1f0f53;
  text-decoration: none;
}

.list-item{
  @apply list-none w-2/3 p-2 m-2  text-[#1F0F53] rounded-xl bg-white shadow-md;
}

/* Customize scrollbar for Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of scrollbar */
  @apply py-6 ;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}
