<section class="flex justify-center items-center h-80p">
  <div class="rounded-md h-fit shadow-lg shadow-slate-500 w-25p pt-1">
    <form class="p-2 border-0" [formGroup]="userFormular" (ngSubmit)="userFormular.valid && userFormular.markAllAsTouched(); onSubmit()" novalidate>
      <!-- Organisation create form -->
      <h3 class="text-lg font-bold text-center text-black">Informace o Vaší organizaci</h3>
      <form-imput formControlName="tenantName" type="text" name="tenantName" [required]="true" label="Název"/>

        <!-- info about the user -->
      <h3 class="text-lg font-bold text-center text-black">Informace o Vás</h3>
      <div class="flex align-baseline">
        <div class="w-50p">
          <form-imput formControlName="firstName" type="text" name="firstName" [required]="true" label="Jméno"/>
        </div>
        <div class="w-50p">
          <form-imput formControlName="lastName" type="text" name="lastName" [required]="true" label="Příjmení"/>
        </div>
      </div>

      <form-imput formControlName="email" type="text" name="email" [required]="true" label="Email"/>

      <form-imput formControlName="password" type="password" name="password" [required]="true" label="Heslo"/>

      <form-imput formControlName="passwordConfirm" type="password" name="passwordConfirm" [required]="true" label="Potvrdit heslo"/>

      <div class="flex justify-between items-center m-3">
        <a routerLink="/login" class=" ">Už máte účet? Příhlašte se!</a>
        <button type="submit" class="primary-button">Registrovat</button>
      </div>
    </form>
  </div>
</section>
