<section class="flex flex-col items-center p-4 h-full">
  <div class="w-2/3 ">
    <mach:alert class="w-full m-2" />
    <mach:pop-up />
    <div class="flex justify-between items-baseline">
      <h1 class="p-2 text-2xl font-bold text-center text-black">Stroje</h1>
      <div class="flex items-stretch">
        <h2>Pro vytvoření nového stroje běžte na detail pobočky</h2>
        <button (click)="drawerOpen = true" class="btn btn-primary ms-1 self-stretch">
          <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"/>
          </svg>
        </button>
        @if(!isFilterClear()){
          <button (click)="clearFilter()" class="btn btn-danger ms-1">
            <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"/>
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M19 14l-2.5 2.5M16.5 14l2.5 2.5"/>
            </svg>
          </button>
          }
      </div>
    </div>
  </div>
  @for(machine of filteredMachines;track machine.id){
  <div
    class="list-item">
    <div class="flex justify-stretch  p-2 ">
      <div class="flex flex-col w-1/4  self-start">
        <span class="text-lg font-bold">{{machine.model}}</span>
      </div>
      <div class="flex justify-normal pt-2 w-1/2">
        <div class="flex flex-col justify-start w-1/6">
          <span class="font-bold  ">Pobočka:</span>
        </div>
        <div class="flex justify-start">
          <p>{{machine.locationName}}</p>
        </div>
      </div>
      <div class="flex justify-end items-center h-1/4 w-1/4">
        <a [routerLink]="['/machines', machine.id]" class="btn btn-primary">Detail</a>
        <button (click)="openPopUp(machine)" class="btn btn-danger">Smazat</button>
      </div>
    </div>
  </div>
  }
  <mach:offCanvas
  [title]="'Filtrovat'"
  [confirmLabel]="'Filtrovat'"
  [(isOpen)]="drawerOpen"
  (saved)="filterMachines()"
  >
    <mach:forminput [(value)]="filter.searchText" type="text" label="Text"/>
    <mach:multiSelect [options]="customersInFilter"
      [(ngModel)]="filter.customer"
      [ngModelOptions]="{standalone: true}"
      [required]="false"
      label="Zákazník"
      [closeOnSelect]="true"
      [maxSelections]="1"
      placeholder="Vybrat zákazníka..." />
      <mach:multiSelect [options]="locationsInFilter"
      [(ngModel)]="filter.location"
      [ngModelOptions]="{standalone: true}"
      [required]="false"
      label="Pobočka"
      [closeOnSelect]="true"
      [maxSelections]="1"
      placeholder="Vybrat pobočku..." />
  </mach:offCanvas>
</section>
