<div class="bg-white p-8 w-full flex items-center justify-center">
  <div class="rounded-md h-fit shadow-lg shadow-slate-500 w-25p p-2">
    <h2 class="text-xl font-semibold text-center mb-4">Choose an account</h2>
    <ul class="space-y-4">
      @for (user of users; track $index) {
        <li (click)="switchUser(user)" class="flex items-center cursor-pointer hover:bg-gray-200 p-2 rounded-lg">
          <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="h-10 w-10 rounded-full" alt="Profile Image">
          <div class="ml-3">
              <p class="font-medium">{{user.name}}</p>
              <p class="text-sm text-gray-500">{{user.email}}</p>
          </div>
      </li>
      }
    </ul>
    <div class="mt-6 border-t pt-4 text-center">
      <a routerLink="/login" class="no-underline hover:underline">Použít jiný účet</a>
    </div>
  </div>

</div>
