@if(!successfull){
<section class="flex justify-center items-center flex-col w-full min-h-80screen">
  <div class="rounded-md h-fit shadow-lg shadow-slate-500 md:w-1/4 w-5/6 pt-1 ">
    <form class="p-2 border-0" [formGroup]="form" (ngSubmit)="form.valid && form.markAllAsTouched(); onSubmit()"
      novalidate>
      <h1 class="text-lg font-bold text-center text-black">Vytvoření hesla</h1>
      <mach:forminput formControlName="password" type="password" name="password" [required]="true" label="Heslo"
        [error]="getErrorMessage(form.get('password'), 'password')!" />
      <mach:forminput formControlName="passwordConfirm" type="password" name="passwordConfirm" [required]="true"
        label="Potvrdit heslo" [error]="getErrorMessage(form.get('passwordConfirm'), 'passwordConfirm')!" />
        <div class="flex justify-end items-center me-1">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Vytvořit heslo</button>
        </div>
    </form>
  </div>
</section>
}@else {
<section class="flex justify-center w-full min-h-80screen">
  <div class="max-w-lg mx-auto mt-10 bg-white">
    <div class="py-4 text-center">
        <h1 class="text-xl font-semibold">Heslo úspěšně vytvořeno</h1>
    </div>
    <div class="p-6 text-center text-gray-700">
        <p class="mb-4">Vaše heslo bylo úspěšně vytvořeno. Nyní máte plný přístup k Maintenance Chronicle.</p>
        <p class="mb-6">Klikněte na tlačítko níže a přihlaste se ke svému účtu.</p>
        <a routerLink="/login" class="btn btn-primary">Přihlásit se</a>

    </div>
</div>
</section>
}

