.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    mat-card {
        width: 400px;
        padding: 20px;

        mat-form-field {
            width: 100%;
            margin-bottom: 20px;
        }

        button {
            width: 100%;
        }
    }
}

.input-field {
    @apply relative;

    label{
        @apply absolute;
        @apply text-sm;
        @apply text-gray-500;
        @apply dark:text-gray-400;
        @apply duration-300;
        @apply transform;
        @apply -translate-y-4;
        @apply scale-75;
        @apply top-2;
        @apply z-10;
        @apply origin-[0];
        @apply bg-white;
        @apply dark:bg-gray-900;
        @apply px-2;
        @apply peer-focus:px-2;
        @apply peer-focus:text-blue-600;
        @apply peer-focus:dark:text-blue-500;
        @apply peer-placeholder-shown:scale-100;
        @apply peer-placeholder-shown:-translate-y-1/2;
        @apply peer-placeholder-shown:top-1/2;
        @apply peer-focus:top-2;
        @apply peer-focus:scale-75;
        @apply peer-focus:-translate-y-4;
        @apply rtl:peer-focus:translate-x-1/4;
        @apply rtl:peer-focus:left-auto;
        @apply start-1;
    }
    input {
        //my custom class
        @apply block;
        @apply px-2.5;
        @apply pb-2.5;
        @apply pt-4;
        @apply w-full;
        @apply text-sm;
        @apply text-gray-900;
        @apply bg-transparent;
        @apply rounded-lg;
        @layer border-1;
        @apply border-gray-300;
        @apply appearance-none;
        @apply dark:text-white;
        @apply dark:border-gray-600;
        @apply dark:focus:border-blue-500;
        @apply focus:outline-none;
        @apply focus:ring-0;
        @apply focus:border-blue-600;
    }
}